*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background:linear-gradient(to bottom , rgb(24, 113, 121),rgb(5, 37, 24));
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;}
.stopWatch{
    text-align: center;
    background-color: rgba(120, 24, 24, 0.9);
    padding: 20px 24px;
    border-radius: 10px;
}
.timerDisplay{
    font-size:45px;
    font-weight: 600;
    background-color: rgb(24, 23, 23);
    padding: 20px 50px;
    border-radius: 10px;
    box-shadow: inset 90px 90px 90px rgb(49, 21, 21);
    border: none;

} 
@media screen and (max-width: 768px) {
  
  .timerDisplay {
    font-size:30px;
    width: 100%;
    padding: 30px 20px;
  }
    button{
    width: 100%;
  }
}
.buttons{
    margin-top: 20px;
}
button{
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    margin-block: 15px;
    margin-inline: 5px;
    cursor: pointer;
    background-color: var(--clr);
    box-shadow: 5px 5px 15px  rgb(0, 0, 0);
    font-weight: 900;
    font-size: 18px;
    color: white;
}
button:hover{
    background-color: rgb(61, 112, 93);
}
button:active{
    background-color: rgba(215, 26, 57, 0);
    
}